################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Contacts
/ContactMs/src/Rise.Contacts.Api/bin
/ContactMs/src/Rise.Contacts.Api/obj
/ContactMs/src/Rise.Contacts.Business/bin
/ContactMs/src/Rise.Contacts.Business/obj
/ContactMs/src/Rise.Contacts.Domain/bin
/ContactMs/src/Rise.Contacts.Domain/obj
/ContactMs/src/Rise.Contacts.Infrastructure/bin
/ContactMs/src/Rise.Contacts.Infrastructure/obj
/ContactMs/test/Rise.Contacts.Business.Test/bin
/ContactMs/test/Rise.Contacts.Business.Test/obj
/Rice.Core/bin
/Rice.Core/obj
/.vs
/ContactMs/src/Rise.Contacts.Api/Rise.Contacts.Api.csproj.user
/ReportMs/src/Rise.Report.Api/bin/Debug/net6.0
/ReportMs/src/Rise.Report.Api/obj
/ReportMs/src/Rise.Report.Business/bin/Debug/net6.0
/ReportMs/src/Rise.Report.Business/obj
/ReportMs/src/Rise.Report.Domain/bin/Debug/net6.0
/ReportMs/src/Rise.Report.Domain/obj
/ReportMs/src/Rise.Report.Infrastructure/bin
/ReportMs/src/Rise.Report.Infrastructure/obj
